@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

header {
    height: 90px;
    /*background-color: aqua;*/
    display: flex;
    justify-content: space-between;
}

.logo-box {
    height: 65px;
    /*background-color: brown;*/
    padding: 13px 33px;
}

nav {
    /*background-color: aquamarine;*/
}

ul.nav-flex {
    display: flex;
    /*justify-content: space-around;*/
    /*font-size: 12px;*/
    font-weight: bold;
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    padding: 18px;
}

 {
    padding-bottom: 2px;
}